import { Network } from "./networkInterface";

const NETWORKS = {
  luksoMain: {
      EOA_PRIVATE_KEY: "",
      EOA_PUBLIC_KEY: "",
      UP_ADDR_CONTROLLED_BY_EOA: "",
  },
  luksoTestnet: {
      EOA_PRIVATE_KEY: "",
      EOA_PUBLIC_KEY: "",
      UP_ADDR_CONTROLLED_BY_EOA: "",
  },
  luksoDevnet: {
      EOA_PRIVATE_KEY: "",
      EOA_PUBLIC_KEY: "",
      UP_ADDR_CONTROLLED_BY_EOA: "",
  },
} as {
  [key: string]: Network;
};

export const getNetworkAccountsConfig = (name: string) => {
  switch (name) {
    case 'luksoMain':
      return NETWORKS.luksoMain;
    case 'luksoTestnet':
      return NETWORKS.luksoTestnet;
    default:
      throw new Error(`Unknown network ${name}`);
  }
};